In [1]:
'''
삼성전자라는 변수로 50000원 바인딩.
삼성전자 주식 10주 보유하고 있을 때 총 평가금액은?
'''
samsung = 50_000
price = samsung * 10
print(price)

500000

In [2]:
'''
변수를 사용해 시가총액, 현재가, PER을 바인딩하라
|항목|값|
|---|---|
|시가총액|298조|
|현재가|50_000|
|PER|15.79|
'''
market_capitalization = 298
current_price = 50_000
PER = 15.79

In [4]:
'''
아래와 같이 바인딩 되어 있을 때, 실행 예처럼 출력하라
>> s = "hello"
>> t = "python"

실행 예:
hello! python
'''
s = "hello"
t = "python"

print(f'{s}! {t}')

hello! python

In [5]:
'''
아래 코드 실행 결과는?
>> 2 + 2 * 3 
'''

2 + 2 * 3

8

In [6]:
''' 
아래 변수의 값 타입을 판별하라
>> a = "132"
'''

a = "132"
print(type(a))

<class 'str'>

In [7]:
'''
아레 문자열을 정수형으로 변환하라
>> num_str = "720"
'''
num_str = "720"
int(num_str)

720

In [8]:
'''
정수를 문자열로 반환
num = 100
'''
num = 100
str(num)

'100'

In [10]:
'''
문자열을 실수로 변환하라
"15.79"
'''
f = float("15.79")
print(f, type(f))

15.79 <class 'float'>

In [17]:
'''
문자열 year을 정수로 변환한 후 최근 3년의 연도(2017, 2018, 2019)를 화면에 출력하라
year = "2020"
'''

year = "2020"

for num in range(3, 0, -1) :
    print(int(year) - num)

2017
2018
2019

In [18]:
'''
에이컨이 월 48,584원에 무이자 36개월의 조건으로 홈쇼핑에서 판매되고 있습니다. 총 금액은 계산한 후 이를 화면에 출력해보세요. (변수사용하기)
'''

per_month_price = 48_584
interest_free_month = 36
total = per_month_price * interest_free_month
print(total)

1749024