In [3]:
# 181
apart = []

for i in range(1, 4):
    apart.append([str(100 * i + 1) +'호', str(100 * i + 2) +'호'])
print(apart)

[['101호', '102호'], ['201호', '202호'], ['301호', '302호']]

In [4]:
# 182

stock = [
    ["시가", 100, 200, 300],
    ["종가", 80, 210, 330]
]

In [5]:
# 183

stock = {
    "시가": [100, 200, 300],
    "종가": [80, 210, 330]
}

In [6]:
# 184

stock = {
    '10/10' : [80, 110, 70, 90],
    '10/11' : [210, 230, 190, 200]
}

In [7]:
# 185

apart = [ [101, 102], [201, 202], [301, 302] ]

for floor in apart:
    for ho in floor:
        print(ho, "호")

101 호
102 호
201 호
202 호
301 호
302 호

In [8]:
# 186

apart = [ [101, 102], [201, 202], [301, 302] ]

for floor in apart[::-1]:
    for ho in floor:
        print(ho, '호')

301 호
302 호
201 호
202 호
101 호
102 호

In [9]:
# 187

apart = [ [101, 102], [201, 202], [301, 302] ]

for floor in apart[::-1]:
    for ho in floor[::-1]:
        print(ho, '호')

302 호
301 호
202 호
201 호
102 호
101 호

In [11]:
# 188

apart = [ [101, 102], [201, 202], [301, 302] ]

for floor in apart:
    for ho in floor:
        print(ho, '호')
        print('-' * 5)

101 호
-----
102 호
-----
201 호
-----
202 호
-----
301 호
-----
302 호
-----

In [12]:
# 189

apart = [ [101, 102], [201, 202], [301, 302] ]

for floor in apart:
    for ho in floor:
        print(ho, '호')

    print("-" * 5)

101 호
102 호
-----
201 호
202 호
-----
301 호
302 호
-----

In [13]:
# 190

apart = [ [101, 102], [201, 202], [301, 302] ]

for floor in apart:
    for ho in floor:
        print(ho, '호')

print('-' * 5)

101 호
102 호
201 호
202 호
301 호
302 호
-----