In [7]:
# 121

data = input()

if data.islower() :
    print(data.upper())  # 원본 데이터 수정 x
    # print(data)
else:
    print(data.lower())
    # print(data)

 B

b

In [12]:
# 122

score = int(input())

if score > 80 :
    print('grade is A')
elif score > 60 :
    print('grade is B')
elif score > 40 :
    print('grade is C')
elif score > 20 :
    print('grade is D')
else :
    print('grade is E')

 10

grade is E

In [16]:
# 123
USD = 1_167
JPY = 1.096
EU = 1_268
CNY = 171

data = input().split(" ")
data[0] = float(data[0])

if data[1] == '달러' :
    print(data[0] * USD, " 원")
elif data[1] == '엔' :
    print(data[0] * JPY, " 원")
elif data[1] == '유로' :
    print(data[0] * EU, " 원")
elif data[1] == '위안' :
    print(data[0] * CNY, " 원")

 100 달러

116700.0  원

In [20]:
# 123(다른 풀이)

exchange_rate = {'달러' : 1_167,
                '엔': 1.096,
                '유로':1_268,
                '위안':171}

num, currency = input().split(" ")
print(float(num) * exchange_rate[currency], "원")

 100 달러

116700.0 원

In [23]:
# 124

number1 = int(input('number1: '))
number2 = int(input('number2: '))
number3 = int(input('number3 '))

lst = []
lst.extend([number1, number2, number3])
max(lst)

number1:  10
number2:  9
number3  20

20

In [28]:
# 125
tel_com = {'011': 'SKT',
          '016': 'KT',
          '019': 'LGU',
          '010': '알수없음'}

first_phone_num, _, _ = input("휴대전화 번호 입력: ").split("-")

print(f'당신은 {tel_com[first_phone_num]} 사용자입니다.')

휴대전화 번호 입력:  010-0-0

당신은 알수없음 사용자입니다.

In [30]:
# 126

gu = {0: '강북구',
      1: '강북구', 
      2: '강북구',
      3: '도봉구',
      4: '도봉구', 
      5: '도봉구',
      6: '노원구',
      7: '노원구', 
      8: '노원구',
      9: '노원구'}

post_num = int(input("우편번호: ")[2])
print(gu[post_num])

우편번호:  01400

도봉구

In [ ]:
# 126 다른 풀이

우편번호 = input("우편번호: ")
우편번호 = 우편번호[:3]

if 우편번호 in ["010", "011", "012"]:
    print("강북구")
elif 우편번호 in ["014", "015", "016"]:
    print("도봉구")
else:
    print("노원구")

In [32]:
# 127

sex = int(input("주민등록번호: ")[7])

if sex in [1, 3] :
    print("남자")
else:
    print("여자")

주민등록번호:  821010-2635210

여자

In [42]:
# 128

birthplace = int(input('주민등록번호: ')[8:10])

if birthplace < 9 :
    print('서울 입니다.')
else:
    print('서울이 아닙니다.')

주민등록번호:  821010-1635210

서울이 아닙니다.

In [46]:
# 129

resident_num = input("주민등록번호: ")

result1 = 0
i = 2
for num in resident_num[:-1] :
    if num == '-':
        continue
    else: 
        result1 += int(num) * i
        i += 1
        if i == 9 :
            i = 2

result2 = result1 % 11

if resident_num[-1] == (11 - result2) :
    print('유효한 주민등록번호입니다')
else:
    print('유효하지 않은 주민등록번호입니다.')

주민등록번호:  821010-1635210

유효하지 않은 주민등록번호입니다.

In [50]:
# 130

import requests
btc = requests.get("https://api.bithumb.com/public/ticker/").json()['data']

# 변동폭 정의
diff_depth = float(btc['max_price']) - float(btc['min_price'])

if (float(btc['opening_price']) + diff_depth) > float(btc['opening_price']) :
    print("상승장")
elif (float(btc['opening_price']) + diff_depth) < float(btc['opening_price']) :
    print("하락장")

상승장