In [1]:
'''
아래 코드 실행
>> a = "3"
>> b = "4"
>> print(a + b)
'''

a = "3"
b = "4"
print(a + b)  # 34

34

In [2]:
'''
아래 문자열 실행
>> print("Hi" * 3)
'''

print("Hi" * 3) # HiHiHi

HiHiHi

In [3]:
'''
-를 80개 출력하라
실행 예:
--------------------------------------------------------------------------------
'''
print('-' * 80)

--------------------------------------------------------------------------------

In [9]:
'''
아래와 같이 출력하라
>>> t1 = 'python'
>>> t2 = 'java'

실행 예:
python java python java python java python java
'''
t1 = 'python'
t2 = 'java'

print((t1 + ' ' + t2 + ' ') * 4)
print(f'{t1} {t2} ' * 4)

python java python java python java python java
python java python java python java python java

In [12]:
'''
% formatting을 사용해서 아래 예시와 같이 출력하라
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13

이름: 김민수 나이: 10
이름: 이철희 나이: 13
'''

name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13

print('이름: %s 나이: %d' % (name1, age1))
print('이름: %s 나이: %d'% (name2, age2))

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [13]:
'''
파이썬 3.6부터 지원하는 f-string을 활용하여 위의 문제 다시 풀기
'''

print(f'이름: {name1} 나이: {age1}')
print(f'이름: {name2} 나이: {age2}')

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [15]:
'''
format() 메서드 활용해서 위의 문제 다시 풀기
'''

print('이름: {} 나이: {}'.format(name1, age1))
print('이름: {} 나이: {}'.format(name2, age2))

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [16]:
'''
컴마를 제거한 후 정수 타입으로 변환
상장주식수 = "5,969,782,550"
'''

listed_shares = "5,969,782,550"
listed_shares = int(listed_shares.replace(',', ''))
print(listed_shares)

5969782550

In [18]:
'''
문자열에서 2020/03만 출력하라
분기 = "2020/03(E) (IFRS연결)"
'''

quarter = "2020/03(E) (IFRS연결)"
quarter[:7]

'2020/03'

In [21]:
'''
공백 제거
data = "   삼성전자    "

'''
data = "   삼성전자    "
data = data.strip()
print(data)

삼성전자